/** CSS STYLE **/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

:root {
  --white: #fff;
  --half-white: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --half-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  background-color: var(--white);
}

h1,
h2,
h3 {
  font-family: Neucha, cursive;
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.text-white {
  color: var(--white);
}

.text-basic {
  color: var(--basic);
}

.text-dark {
  color: var(--dark);
}

.text-orange {
  color: var(--basic);
}

.text-center {
  text-align: center;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.bg-questions {
  position: relative;
  overflow: hidden;
}

.bg-questions::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.header {
  background-color: var(--light);
  max-height: 914px;
  width: 100%;
}

.header-title {
  z-index: 200;
}

.header-image {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
  z-index: 100;
}

.container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header-description {
  display: flex;
  margin-top: 185px;
}

.description-text {
  width: 50%;
}

.description-text:first-child {
  margin-right: 30px;
}

.description-link {
  margin-top: 40px;
}

.description-link a {
  padding: 12px 24px;
  background-color: var(--basic);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
}

.what-is {
  height: 814px;
  background-color: var(--white);
}

.what-is h2 {
  margin-bottom: 27px;
}

.video {
  margin: 30px auto 0;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

#navigation {
  background-color: var(--basic-dark);
}

.navigation-title h2 {
  font-size: 52px;
}

.navigation-cards {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: var(--light);
}

.card,
.navigation-title {
  width: 350px;
  margin-bottom: 20px;
}

.card-subtitle {
  margin-bottom: 40px;
  font-family: Neucha, cursive;
  font-size: 64px;
  line-height: 1;
  color: var(--basic-dark);
}

.card-title {
  font-size: 34px;
  color: var(--basic);
}

.card-text {
  margin-top: 16px;
}

.card-link {
  display: flex;
  align-self: stretch;
  text-decoration: none;
  color: var(--basic-dark);
}

.card:hover {
  background-color: var(--basic);
}

.card:hover .card-subtitle,
.card:hover .card-title,
.card:hover .card-text {
  color: var(--white);
}

#ikea-effect {
  background-color: var(--light);
}

.bias {
  display: flex;
  flex-direction: row;
}

.bias-image {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
  vertical-align: middle;
}

.bias-about-subtitle {
  font-family: Neucha, cursive;
  font-size: 24px;
  color: var(--half-dark);
}

.bias-about {
  margin-left: 30px;
}

.bias-about-text {
  margin-top: 30px;
  font-family: Neucha, cursive;
  font-size: 34px;
  line-height: 1.2;
}

.bias-how-work {
  display: flex;
}

.bias-how-work-title {
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: var(--white);
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: var(--brown);
}
